<div>
	<h3>The Map</h3>
	<h4>Please select a trivia difficulty level: <span><a href="">Easy</a> <a href="">Medium</a> <a href="">Hard</a></span></h4>
</div>
<!-- 		<span><a ng-repeat="difficulty in difficulties" 
				 ng-click="setDifficulty(diffiulty)">{{ difficulty }}</a>
		</span> -->
		
<div>
	<span><h4 ng-click="fetchRandomQuestion()"><a href="">Generate Random Question:</a><h4><question ng-show="randomQuestion"></question></span>
</div>

<div>
	<h4><a href="">Create your own question!</a></h4>
</div>