* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

li {
  cursor: pointer;
}

body {
	font-family: Garamond;
}

h3 {
	color: red;
	text-align: center;
}

#mapContainer {
	text-align: left;
}
